<h1>Welcome to the conversation, <% if current_user %><%=current_user.name%><% end %>!</h1>

<div ng-app="app">
	<div ng-controller="pagesCtrl">
		<div class="conversation">
			<ul>
				<div ng-repeat="message in messages">
					<li><span class="username">
						<% if current_user %>
							<%= current_user.name %>: 
						<% end %>
					</span>{{message.text}}</li>
				</div>
			</ul>
		</div>
		<p class="input">Your message: <input id="input" ng-model="veryNewMessage"></p>
		<button ng-click="addMessage(veryNewMessage)" class="sendBtn">Send</button>
	</div>
<!--   {{ 1 + 1 }} -->
</div>